*{
    font-style: italic;
}
div{
    color: rgb(129, 127, 255);
}
p{
    color: brown;
}
.big{
    font-size: 25px;
}
.bold{
    font-weight: bold;
}
#one{
    background-color: aquamarine;
}
article{
    color: black;
}
p{
    font-weight: bold;
    background-color: #333;
    color: #fff;
    padding: .5em;
}